<header class="baheader header">
    <div class="container clearfix">
        <ul class="topNav">
            <li>
                <a href="/template/create">Создать шаблон</a>
            </li>
            <li>
                <a href="/process/available">Запустить процесс</a>
            </li>
            <li>
                <a href="/process/inprocessing">Мои процессы</a>
            </li>
            <li>
                <a href="/login">Войти</a>
            </li>
            <li>
                <a>Выйти</a>
            </li>
        </ul>
    </div>
</header>